@font-face {
  font-family: Anta;
  src: url(./Anta-Regular.ttf);
}

@font-face {
  font-family: icons;
  src: url(./MaterialSymbolsSharp.woff2);
}

.icons-font {
  font-family:    "icons";
  font-weight:    normal;
  font-style:     normal;
  font-size:      1.5em;
  display:        inline-block;
  line-height:    1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap:      normal;
  white-space:    nowrap;
  direction:      ltr;
}

* {
  box-sizing: border-box;
}